@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.app {
  padding: 60px;
  font-family: 'Roboto', sans-serif;
}

.title {
  font-size: 60px;
  line-height: 70px;
  margin: 0 0 40px 0;
}
