@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1,
h2,
h3,
p,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  font-size: 18px;
  line-height: 1.16;
}

.app {
  padding: 60px;
  font-family: 'Roboto', sans-serif;
}

.title {
  font-size: 60px;
  line-height: 70px;
  margin: 0 0 40px 0;
}

.ticketText {
  margin-left: 20px;
}
