@import 'style/index.module.scss';

.ticketListContainer {
  position: relative;
  @extend %border;
  padding: 40px;

  margin-bottom: 60px;
}

.ticketList {
  @extend %scroll;
}

.ticketListItem {
  @extend %listItemStyle;
}

.ticketStatus {
  margin-left: auto;
}

.clipLoader {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
