.item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 130px;
  margin-right: 5px;
  padding: 0 35px;

  border: 1px solid #333333;
  border-radius: 15px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
